.contact-page-area .form-area .primary-btn:hover {
  border: 1px solid #b7d5e5 !important;
  color: #fff !important;
  background-color: #b7d5e5 !important;
}

.footer-social a:hover i {
    color: #b7d5e5 !important;
}

.contact-page-area .single-contact-address .lnr {
    color: #076eaf !important;
}

.contact-page-area {
  background: #f9f9ff;
}

.contact-page-area .map-wrap {
  margin-bottom: 120px;
}

@media (max-width: 960px) {
  .contact-page-area .map-wrap {
    margin-bottom: 50px;
  }
}

.contact-page-area .contact-btns {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 40px;
  color: #fff;
  margin-bottom: 30px;
}

.contact-page-area .contact-btns:hover {
  color: #fff;
}

.contact-page-area .form-area input {
  padding: 15px;
}

.contact-page-area .form-area input, .contact-page-area .form-area textarea {
  border-radius: 0;
  font-size: 12px;
}

.contact-page-area .form-area textarea {
  height: 180px;
  margin-top: 0px;
}

.contact-page-area .form-area .primary-btn {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact-page-area .form-area .primary-btn:hover {
  border: 1px solid #fab700;
  color: #fab700 !important;
}

@media (max-width: 960px) {
  .contact-page-area .address-wrap {
    margin-bottom: 50px;
  }
}

.contact-page-area .single-contact-address {
  margin-bottom: 20px;
}

.contact-page-area .single-contact-address h5 {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 5px;
}

.contact-page-area .single-contact-address .lnr {
  font-size: 30px;
  font-weight: 500;
  color: #fab700;
  margin-right: 30px;
}

.primary-btn{
	background-color: #076eaf !important;

}

.primary-btn:hover{
	background-color: rgba(0,0,0,0) !important;
	border: 1px solid #FFF !important;
	color: #FFF !important;
}

.primary-btn {
  background-color: #fab700;
  line-height: 42px;
  padding-left: 40px;
  padding-right: 40px;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  position: relative;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  
}

.primary-btn:focus {
  outline: none;
}

.primary-btn span {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  right: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}


.primary-btn.white {
  border: 1px solid #fff;
  color: #fff;
}

.primary-btn.white span {
  color: #fff;
}

.primary-btn.white:hover {
  background: #fff;
  color: #fab700;
}

.primary-btn.white:hover span {
  color: #fab700;
}


.single-price .price-bottom .primary-btn {
  border-radius: 0;
  margin-top: 20px;
  background: #fab700;
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}


.single-price .price-bottom .primary-btn:hover {
  border: 1px solid transparent;
}

@media (max-width: 1024px) {
  .single-price .price-bottom .primary-btn {
    padding-left: 22px;
    padding-right: 22px;
  }
}

.single-price:hover .primary-btn {
  background: #fff;
  color: #222;
}

.commentform-area .primary-btn {
  padding-left: 50px;
  padding-right: 50px;
  background-color: #fab700 !important;
  border: 1px solid transparent;
  color: #fff;
}

.mt-20 {
  margin-top: 20px;
}

.ajustes-tamanho-subtitulo{
  font-weight: normal !important;
  font-size: 15px !important;
}