.ajustes-p{
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  font-weight: normal;
}

.dashboard {
  width: 80%;
  display: block;
  margin: 0 auto;
  height: 900px;
  padding-bottom: 30px;
}

@media(max-width: 768px) {
  .dashboard {
      width: 90%;
  }
}
