/* screen - dashboard */

.dashboard {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 2056px;
  overflow: hidden;
  width: 1440px;
}

.dashboard .overlap-group1 {
  height: 529px;
  position: relative;
  width: 1440px;
}

.dashboard .header {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 101px;
  left: 84px;
  min-width: 1356px;
  padding: 0 138px;
  position: absolute;
  top: 105px;
}

.dashboard .overlap-group {
  height: 33px;
  position: relative;
  width: 902px;
}

.dashboard .frame-29 {
  height: 33px;
  left: 0;
  position: absolute;
  top: 0;
  width: 180px;
}

.dashboard .vector-50 {
  height: 32px;
  left: 178px;
  position: absolute;
  top: 0;
  width: 3px;
}

.dashboard .frame-30 {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px solid;
  display: flex;
  height: 33px;
  left: 180px;
  padding: 6px 61px;
  position: absolute;
  top: 0;
  width: 180px;
}

.dashboard .inicio {
  height: 17px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 44px;
  text-align: center;
}

.dashboard .vector-51 {
  height: 32px;
  left: 358px;
  position: absolute;
  top: 0;
  width: 3px;
}

.dashboard .frame-31 {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px solid;
  display: flex;
  height: 33px;
  left: 360px;
  min-width: 180px;
  padding: 6px 10px;
  position: absolute;
  top: 0;
}

.dashboard .publicaes {
  height: 17px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 95px;
  text-align: center;
}

.dashboard .vector-52 {
  height: 32px;
  left: 538px;
  position: absolute;
  top: 0;
  width: 3px;
}

.dashboard .frame-32 {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px solid;
  display: flex;
  height: 33px;
  left: 540px;
  min-width: 180px;
  padding: 6px 14px;
  position: absolute;
  top: 0;
}

.dashboard .vdeos {
  height: 17px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 52px;
  text-align: center;
}

.dashboard .vector-53 {
  height: 32px;
  left: 718px;
  position: absolute;
  top: 0;
  width: 3px;
}

.dashboard .frame-33 {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px solid;
  display: flex;
  height: 33px;
  left: 720px;
  min-width: 180px;
  padding: 6px 12px;
  position: absolute;
  top: 0;
}

.dashboard .contato {
  height: 17px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 67px;
  text-align: center;
}

.dashboard .vector-54 {
  height: 32px;
  left: 898px;
  position: absolute;
  top: 0;
  width: 3px;
}

.dashboard .logo_grande {
  height: 265px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 277px;
}

.dashboard .rectangle-gradient {
  height: 322px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 207px;
  width: 1440px;
}

.dashboard .rectangle-4 {
  background-color: var(--white);
  border: 2px solid;
  border-color: var(--killarney-2);
  filter: blur(4px);;
  height: 51px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.dashboard .phone-call {
  height: 22px;
  left: 108px;
  position: absolute;
  top: 14px;
  width: 22px;
}

.dashboard .envelope {
  height: 22px;
  left: 352px;
  position: absolute;
  top: 14px;
  width: 22px;
}

.dashboard .phone {
  left: 161px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 13px;
}

.dashboard .demogmailcom {
  left: 402px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
}

.dashboard .flex-row {
  align-items: flex-end;
  display: flex;
  height: 359px;
  margin-right: 14.0px;
  margin-top: 18px;
  min-width: 1284px;
}

.dashboard .flex-col {
  align-items: center;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 36px;
  min-height: 335px;
  width: 394px;
}

.dashboard .pesquisa {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 107.0px;
  min-height: 49px;
  min-width: 175px;
  text-align: center;
}

.dashboard .as-part-of-the-respo {
  letter-spacing: 0;
  line-height: normal;
  min-height: 250px;
  width: 394px;
}

.dashboard .as-part-of-the-respo-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 24px;
  margin-left: 58px;
  min-height: 250px;
  width: 394px;
}

.dashboard .x10x-featured-social-media-image-size-3 {
  height: 311px;
  margin-left: 67px;
  object-fit: cover;
  width: 371px;
}

.dashboard .overlap-group2 {
  height: 598px;
  margin-left: 32.0px;
  margin-top: 90px;
  position: relative;
  width: 1278px;
}

.dashboard .ligne-5 {
  border: 1.59px none;
  height: 105px;
  left: 896px;
  position: absolute;
  top: 368px;
  width: 108px;
}

.dashboard .rectangle-9 {
  background-color: #0f073f;
  border: 1px none;
  height: 598px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1278px;
}

.dashboard .parceiros {
  color: var(--gable-green);
  font-family: var(--font-family-fraunces);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 13.73px;
  margin-top: 19px;
  min-height: 44px;
  min-width: 172px;
  text-align: center;
  transform: rotate(-0.35deg);
}

.dashboard .logos {
  align-items: center;
  border: 1px none;
  display: flex;
  justify-content: space-between;
  margin-right: 29.0px;
  margin-top: 37px;
  width: 579px;
}

.dashboard .company-logo {
  height: 34.29px;
  min-width: 100px;
}

.dashboard .company-logo-1 {
  height: 39.67px;
  min-width: 100px;
}

.dashboard .company-logo-2 {
  height: 29.45px;
  min-width: 100px;
}

.dashboard .company-logo-3 {
  height: 41.38px;
  min-width: 100px;
}

.dashboard .group-5 {
  align-items: flex-start;
  display: flex;
  height: 309px;
  margin-left: 4.0px;
  margin-top: 12px;
  min-width: 1440px;
}

.dashboard .footer-4-light-mode {
  height: 310px;
  margin-left: -1px;
  margin-top: -1px;
  width: 1439px;
}
