/* screen - inicio */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,300,600|Fraunces:700|DM+Sans:400,700,500");

.inicio {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 2056px;
  overflow: hidden;
  width: 1920px;
}

.inicio .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 882px;
  width: 1920px;
}

.inicio .overlap-group1 {
  height: 529px;
  position: relative;
  width: 1920px;
}

.inicio .header {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 101px;
  left: 84px;
  min-width: 1356px;
  max-width: 1920px;
  padding: 0 138px;
  position: absolute;
  top: 105px;
}

.inicio .overlap-group {
  height: 33px;
  position: absolute;
  width: 1920px;
}

.inicio .vector-50 {
  height: 32px;
  left: 278px;
  position: absolute;
  top: 0;
  width: 3px;
}

#button {
  background-color: white;
  border: none;
  display: flex;
  height: 17px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 44px;
  text-align: left;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  /* identical to box height */
  text-transform: uppercase;
  color: #3a7735;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
}

#button:hover {
  opacity: 0.6;
}

/*.dropdown {
  position: flex;
  display: inline-block;
}*/

/*.dropbtn {
  background-color: #3a7735;
  color: white;
  padding: 16px;
  font-size: 14px;
  border: none;
  height: 17px;
  z-index: 4;
}*/

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #3a7735;
  z-index: 2;
}

.dropdown-content a {
  color: #3a7735;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 3;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.inicio .frame-30 {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px;
  display: flex;
  height: 17px;
  left: 280px;
  padding: 6px 61px;
  position: absolute;
  top: 0;
  width: 280px;
}

.inicio .vector-51 {
  height: 32px;
  left: 458px;
  position: absolute;
  top: 0;
  width: 3px;
}

.inicio .frame-31 {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px;
  display: flex;
  height: 33px;
  left: 460px;
  min-width: 180px;
  padding: 6px 10px;
  position: absolute;
  top: 0;
}

.inicio .vector-52 {
  height: 32px;
  left: 638px;
  position: absolute;
  top: 0;
  width: 3px;
}

.inicio .frame-32 {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px;
  display: flex;
  height: 33px;
  left: 640px;
  min-width: 180px;
  padding: 6px 14px;
  position: absolute;
  top: 0;
}

.inicio .vector-53 {
  height: 32px;
  left: 818px;
  position: absolute;
  top: 0;
  width: 3px;
}

.inicio .frame-33 {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px;
  display: flex;
  height: 33px;
  left: 820px;
  min-width: 180px;
  padding: 6px 12px;
  position: absolute;
  top: 0;
}

.inicio .vector-54 {
  height: 32px;
  left: 998px;
  position: absolute;
  top: 0;
  width: 3px;
}

.inicio .logo_grande {
  height: 265px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 277px;
}

.inicio .rectangle-gradient {
  height: 322px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 207px;
  width: 1920px;
}

.inicio .rectangle-4 {
  background-color: var(--white);
  border: 2px solid;
  border-color: var(--killarney-2);
  filter: blur(4px);
  height: 51px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.inicio .phone-call {
  height: 22px;
  left: 108px;
  position: absolute;
  top: 14px;
  width: 22px;
}

.inicio .envelope {
  height: 22px;
  left: 352px;
  position: absolute;
  top: 14px;
  width: 22px;
}

.inicio .phone {
  left: 161px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 13px;
  cursor: pointer;
}

.inicio .demogmailcom {
  left: 402px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  cursor: pointer;
}

/*fim header*/

.inicio .title {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 121px;
  margin-top: 18px;
  min-height: 49px;
  min-width: 187px;
  text-align: center;
  position: absolute;
  width: 187px;
  height: 49px;
  left: 121px;
  top: 548px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-align: center;

  color: #1b3632;
}

.inicio .texto {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 10px;
  margin-left: 12px;
  margin-top: 136px;
  min-width: 1310px;
}

.inicio .txt {
  letter-spacing: 0;
  line-height: normal;
  min-height: 250px;
  width: 394px;
}

.inicio .txt-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 83px;
  min-height: 250px;
  width: 394px;
}

.inicio .txt-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 45px;
  min-height: 250px;
  width: 394px;
}

.inicio .flex-row {
  align-items: flex-start;
  display: flex;
  height: 725px;
  margin-left: 12px;
  margin-top: 75px;
  min-width: 1310px;
}

.inicio .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 678px;
  width: 394px;
}

.inicio .atuacao {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 50px;
  margin-top: 99px;
  min-height: 49px;
  min-width: 162px;
  text-align: center;
  position: flex;
  width: 162px;
  height: 49px;
  left: 121px;
  top: 1307px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  color: #1b3632;
}

.inicio .txt-3 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 30px;
  min-height: 250px;
  width: 394px;
}

.inicio .x-featured-social-me {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 61px;
  margin-left: 70px;
  min-height: 683px;
  width: 371px;
}

.inicio .x10x-featured-social-media-image-size {
  height: 311px;
  object-fit: cover;
  width: 371px;
}

.inicio .texto-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 168px;
  margin-left: 81px;
  min-height: 668px;
  width: 394px;
}

/*footer*/

.footer {
  align-items: flex-start;
  display: flex;
  margin-left: 516px;
  margin-top: 80px;
  min-width: 1446px;
}

.overlap-group1 {
  height: 292px;
  position: flex;
  width: 1920px;

}

.flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  left: 587px;
  min-height: 77px;
  position: absolute;
  top: 40px;
  width: 82px;
  font-family: "Lato";
  font-size: 13px;
}

.projeto {
  letter-spacing: 0;
  line-height: 28px;
  min-height: 27px;
  white-space: nowrap;
}

.partners {
  letter-spacing: 0;
  line-height: normal;
  min-height: 21px;
  opacity: 0.5;
  width: 71px;
}

.about-us {
  letter-spacing: 0;
  line-height: normal;
  min-height: 21px;
  opacity: 0.5;
  width: 76px;
}

.rede {
  align-items: flex-start;
  display: flex;
  height: 19px;
  left: 668px;
  min-width: 104px;
  position: absolute;
  top: 191px;
}

.facebook-logo-button {
  align-self: flex-end;
  height: 26px;
  margin-bottom: -6.48px;
  margin-left: -4px;
  width: 17px;
}

.twitter {
  height: 15px;
  margin-left: 28px;
  margin-top: 0;
  width: 19px;
}

.insta-social-logo {
  align-self: center;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/635b0504f55c5a85d294ecbf/releases/638a3022dcf0cf5a931f8593/img/combined-shape@2x.svg);
  background-size: 100% 100%;
  height: 19px;
  margin-left: 24px;
  width: 20px;
}

.logo-small {
  position: absolute;
  width: 50px;
  height: 49px;
  left: -100;
  top: 29px;
  object-fit: cover;
    
}

.copyright {
  color: black;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  left: 415px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 246px;
  width: 611px;
}

.descricao {
  color: black;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  left: 131px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 73px;
  width: 403px;
}

.reciclagem-solidria {
  color: black;
  font-family: "Lato";
  font-size: 14px;
  left: 136px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
  width: 208px;
}

.flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  left: 795px;
  min-height: 77px;
  position: absolute;
  top: 40px;
  width: 98px;
  font-family: "Lato";
  font-size: 13px;
}

.recurso {
  letter-spacing: 0;
  line-height: 28px;
  min-height: 27px;
  white-space: nowrap;
}

.video {
  letter-spacing: 0;
  line-height: normal;
  min-height: 21px;
  opacity: 0.5;
  width: 52px;
  cursor: pointer;
  
  
}

.publi {
  letter-spacing: 0;
  line-height: normal;
  min-height: 21px;
  opacity: 0.5;
  width: 92px;
}

.rectangle-10 {
  box-sizing: border-box;
  position: absolute;
  width: 1920px;
  height: 286px;
  left: -258px;
  top: 4px;
  border: 1px solid;
  border-color: var(--killarney-2);
  object-fit: cover;  

}