/* screen - inicio */

.inicio {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 2056px;
  overflow: hidden;
  width: 1920px;
}

.inicio .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 882px;
  width: 1920px;
}

.inicio .overlap-group1 {
  height: 529px;
  position: relative;
  width: 1920px;
}

.inicio .header {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 101px;
  left: 84px;
  min-width: 1356px;
  max-width: 1920px;
  padding: 0 138px;
  position: absolute;
  top: 105px;
}

.inicio .overlap-group {
  height: 33px;
  position: absolute;
  width: 1920px;
}

.inicio .frame-29 {
  height: 33px;
  left: 0;
  position: absolute;
  top: 0;
  width: 380px;
}

.inicio .vector-50 {
  height: 32px;
  left: 278px;
  position: absolute;
  top: 0;
  width: 3px;
}

#button {
  background-color: white;
  border: none;
  display: flex;
  height: 17px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 44px;
  text-align: left;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  /* identical to box height */
  text-transform: uppercase;
  color: #3a7735;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
}

#button:hover {
  opacity: 0.6;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #3a7735;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #3a7735;
  z-index: 1;
}

.dropdown-content a {
  color: #3a7735;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.inicio .frame-30 {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px;
  display: flex;
  height: 33px;
  left: 280px;
  padding: 6px 61px;
  position: absolute;
  top: 0;
  width: 280px;
}

.inicio .vector-51 {
  height: 32px;
  left: 458px;
  position: absolute;
  top: 0;
  width: 3px;
}

.inicio .frame-31 {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px;
  display: flex;
  height: 33px;
  left: 460px;
  min-width: 180px;
  padding: 6px 10px;
  position: absolute;
  top: 0;
}

.inicio .vector-52 {
  height: 32px;
  left: 638px;
  position: absolute;
  top: 0;
  width: 3px;
}

.inicio .frame-32 {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px;
  display: flex;
  height: 33px;
  left: 640px;
  min-width: 180px;
  padding: 6px 14px;
  position: absolute;
  top: 0;
}

.inicio .vector-53 {
  height: 32px;
  left: 818px;
  position: absolute;
  top: 0;
  width: 3px;
}

.inicio .frame-33 {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px;
  display: flex;
  height: 33px;
  left: 820px;
  min-width: 180px;
  padding: 6px 12px;
  position: absolute;
  top: 0;
}

.inicio .vector-54 {
  height: 32px;
  left: 998px;
  position: absolute;
  top: 0;
  width: 3px;
}

.inicio .logo_grande {
  height: 265px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 277px;
}

.inicio .rectangle-gradient {
  height: 322px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 207px;
  width: 1920px;
}

.inicio .rectangle-4 {
  background-color: var(--white);
  border: 2px solid;
  border-color: var(--killarney-2);
  filter: blur(4px);
  height: 51px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.inicio .phone-call {
  height: 22px;
  left: 108px;
  position: absolute;
  top: 14px;
  width: 22px;
}

.inicio .envelope {
  height: 22px;
  left: 352px;
  position: absolute;
  top: 14px;
  width: 22px;
}

.inicio .phone {
  left: 161px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 13px;
}

.inicio .demogmailcom {
  left: 402px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
}

.inicio .title {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 121px;
  margin-top: 18px;
  min-height: 49px;
  min-width: 187px;
  text-align: center;
}

.inicio .as-part-of-the-respo-container {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 250px;
  margin-left: 12px;
  margin-top: 36px;
  min-width: 1310px;
}

.inicio .as-part-of-the-respo {
  letter-spacing: 0;
  line-height: normal;
  min-height: 250px;
  width: 394px;
}

.inicio .as-part-of-the-respo-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 83px;
  min-height: 250px;
  width: 394px;
}

.inicio .as-part-of-the-respo-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 45px;
  min-height: 250px;
  width: 394px;
}

.inicio .flex-row {
  align-items: flex-start;
  display: flex;
  height: 725px;
  margin-left: 12px;
  margin-top: 75px;
  min-width: 1310px;
}

.inicio .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 678px;
  width: 394px;
}

.inicio .atuao {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 50px;
  margin-top: 99px;
  min-height: 49px;
  min-width: 162px;
  text-align: center;
}

.inicio .as-part-of-the-respo-3 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 30px;
  min-height: 250px;
  width: 394px;
}

.inicio .x-featured-social-me {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 61px;
  margin-left: 70px;
  min-height: 683px;
  width: 371px;
}

.inicio .x10x-featured-social-media-image-size {
  height: 311px;
  object-fit: cover;
  width: 371px;
}

.inicio .as-part-of-the-respo-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 168px;
  margin-left: 81px;
  min-height: 668px;
  width: 394px;
}

.inicio .group-5 {
  align-items: flex-start;
  display: flex;
  height: 309px;
  margin-left: 4px;
  margin-top: 65px;
  min-width: 1440px;
}

.inicio .footer-4-light-mode {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 15px;
  top: 1850.81px;
}

.inicio .card-body {
  height: 310px;
  margin-left: -1px;
  margin-top: -1px;
  width: 1439px;
}
