/* screen - publicacoes */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,300,600|Fraunces:700|DM+Sans:400,700,500");

.publicacoes {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 2056px;
  overflow: hidden;
  width: 1920px;
}

.inicio .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 882px;
  width: 1920px;
}

.publicacoes .overlap-group7 {
  height: 529px;
  position: relative;
  width: 1920px;
}

.publicacoes .header {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 101px;
  left: 84px;
  min-width: 1356px;
  padding: 0 138px;
  position: absolute;
  top: 105px;
}

.publicacoes .overlap-group-2 {
  height: 33px;
  position: relative;
  width: 1920px;
}

.publicacoes .vector-50 {
  height: 32px;
  left: 278px;
  position: absolute;
  top: 0;
  width: 3px;
}

#buttond {
  background-color: white;
  border: none;
  display: flex;
  height: 17px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 44px;
  text-align: left;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  /* identical to box height */
  text-transform: uppercase;
  color: #3a7735;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
}

#buttond:hover {
  opacity: 0.6;
}

/*.dropdown {
  position: flex;
  display: inline-block;
}*/

/*.dropbtn {
  background-color: #3a7735;
  color: white;
  padding: 16px;
  font-size: 14px;
  border: none;
  height: 17px;
  z-index: 4;
}*/


.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #3a7735;
  z-index: 2;
}

.dropdown-content a {
  color: #3a7735;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 3;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.publicacoes .frame-30 {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px;
  display: flex;
  height: 17px;
  left: 280px;
  padding: 6px 61px;
  position: absolute;
  top: 0;
  width: 280px;
}

.publicacoes .vector-51 {
  height: 32px;
  left: 458px;
  position: absolute;
  top: 0;
  width: 3px;
}

.publicacoes .frame-31 {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px;
  display: flex;
  height: 33px;
  left: 460px;
  min-width: 180px;
  padding: 6px 10px;
  position: absolute;
  top: 0;
}

.publicacoes .vector-52 {
  height: 32px;
  left: 638px;
  position: absolute;
  top: 0;
  width: 3px;
}

.publicacoes .frame-32 {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px;
  display: flex;
  height: 33px;
  left: 640px;
  min-width: 180px;
  padding: 6px 14px;
  position: absolute;
  top: 0;
}

.publicacoes .vector-53 {
  height: 32px;
  left: 818px;
  position: absolute;
  top: 0;
  width: 3px;
}

.publicacoes .frame-33 {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px;
  display: flex;
  height: 33px;
  left: 820px;
  min-width: 180px;
  padding: 6px 12px;
  position: absolute;
  top: 0;
}

.publicacoes .vector-54 {
  height: 32px;
  left: 998px;
  position: absolute;
  top: 0;
  width: 3px;
}

.publicacoes .logo_grande {
  height: 265px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 277px;
}

.publicacoes .rectangle-gradient {
  height: 322px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 207px;
  width: 1920px;
}

.publicacoes .rectangle-4 {
  background-color: var(--white);
  border: 2px solid;
  border-color: var(--killarney-2);
  filter: blur(4px);
  height: 51px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.publicacoes .phone-call {
  height: 22px;
  left: 108px;
  position: absolute;
  top: 14px;
  width: 22px;
}

.publicacoes .phone {
  left: 161px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 13px;
  cursor: pointer;
}

.publicacoes .demogmailcom {
  left: 402px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  cursor: pointer;
}

.publicacoes .envelope {
  height: 22px;
  left: 352px;
  position: absolute;
  top: 14px;
  width: 22px;
}

/* fim header*/

.publicacoes .inicio {
  height: 17px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 44px;
  text-align: center;
}

.publicacoes .publicaes {
  height: 17px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 95px;
  text-align: center;
}


.publicacoes .vdeos {
  height: 17px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 52px;
  text-align: center;
}


.publicacoes .contato {
  height: 17px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 67px;
  text-align: center;
}

.publicacoes .publicaes-1 {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 97px;
  margin-top: 18px;
  min-height: 49px;
  min-width: 235px;
  text-align: center;
}

.publicacoes .card-image-big-container {
  align-items: flex-start;
  display: flex;
  height: 396px;
  margin-left: 11.0px;
  margin-top: 50px;
  min-width: 1257px;
}

.publicacoes .card-image-big {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 10px 20px #0000001a;
  display: flex;
  flex-direction: column;
  gap: 13px;
  min-height: 396px;
  width: 360px;
}

.publicacoes .banner-image {
  background-color: var(--alto);
  border: 1px none;
  border-radius: 10px;
  height: 191px;
  width: 360px;
}

.publicacoes .text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 3px;
  min-height: 152px;
  width: 346px;
}

.publicacoes .in-label {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1px;
  min-height: 15px;
  width: 56px;
}

.publicacoes .ini-adalah-judul-artikel {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1px;
  margin-top: 2px;
  min-height: 21px;
  width: 246px;
}

.publicacoes .by-ridho-satriawan {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1px;
  margin-top: 2px;
  min-height: 15px;
  width: 140px;
}

.publicacoes .apa-itu-html-buat {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 16px;
  width: 336px;
}

.publicacoes .address {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1px;
  margin-top: 13px;
  min-height: 17px;
}

.publicacoes .card-image-big-1 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 10px 20px #0000001a;
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-left: 83px;
  min-height: 396px;
  width: 360px;
}

.publicacoes .card-image-big-2 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 10px 20px #0000001a;
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-left: 94px;
  min-height: 396px;
  width: 360px;
}

.publicacoes .overlap-group-container {
  align-items: flex-start;
  display: flex;
  margin-right: 34.0px;
  margin-top: 8px;
  min-width: 1046px;
}

.publicacoes .overlap-group {
  border-radius: 32px;
  height: 48px;
  position: relative;
  width: 139px;
}

.publicacoes .download-simple {
  height: 32px;
  left: 11px;
  position: absolute;
  top: 5px;
  width: 32px;
}

.publicacoes .buttons {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--black-3);
  border-radius: 32px;
  display: flex;
  height: 48px;
  left: 0;
  min-width: 139px;
  padding: 11px 50px;
  position: absolute;
  top: 0;
}

.publicacoes .label {
  height: 24px;
  letter-spacing: 0.03px;
  line-height: 24px;
  min-width: 39px;
  text-align: center;
  white-space: nowrap;
}

.publicacoes .overlap-group-1 {
  border-radius: 32px;
  height: 48px;
  margin-left: 330px;
  position: relative;
  width: 139px;
}

.publicacoes .overlap-group2 {
  border-radius: 32px;
  height: 48px;
  margin-left: 299px;
  position: relative;
  width: 139px;
}

.publicacoes .card-image-big-container-1 {
  align-items: flex-start;
  display: flex;
  height: 396px;
  margin-left: 11.0px;
  margin-top: 30px;
  min-width: 1257px;
}

.publicacoes .overlap-group-container-1 {
  align-items: flex-start;
  display: flex;
  margin-right: 18.0px;
  margin-top: 8px;
  min-width: 1062px;
}

.publicacoes .overlap-group6 {
  border-radius: 32px;
  height: 48px;
  margin-left: 315px;
  position: relative;
  width: 139px;
}

/*footer

.footer {
  align-items: flex-start;
  display: flex;
  margin-left: 516px;
  margin-top: 80px;
  min-width: 1446px;
}

.group1 {
  height: 292px;
  position: flex;
  width: 1920px;

}

.flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  left: 587px;
  min-height: 77px;
  position: absolute;
  top: 40px;
  width: 82px;
  font-family: "Lato";
  font-size: 13px;
}

.projeto {
  letter-spacing: 0;
  line-height: 28px;
  min-height: 27px;
  white-space: nowrap;
}

.partners {
  letter-spacing: 0;
  line-height: normal;
  min-height: 21px;
  opacity: 0.5;
  width: 71px;
}

.about-us {
  letter-spacing: 0;
  line-height: normal;
  min-height: 21px;
  opacity: 0.5;
  width: 76px;
}

.rede {
  align-items: flex-start;
  display: flex;
  height: 19px;
  left: 668px;
  min-width: 104px;
  position: absolute;
  top: 191px;
}

.facebook-logo-button {
  align-self: flex-end;
  height: 26px;
  margin-bottom: -6.48px;
  margin-left: -4px;
  width: 17px;
}

.twitter {
  height: 15px;
  margin-left: 28px;
  margin-top: 0;
  width: 19px;
}

.insta-social-logo {
  align-self: center;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/635b0504f55c5a85d294ecbf/releases/638a3022dcf0cf5a931f8593/img/combined-shape@2x.svg);
  background-size: 100% 100%;
  height: 19px;
  margin-left: 24px;
  width: 20px;
}

.logo-small {
  position: absolute;
  width: 50px;
  height: 49px;
  left: -100;
  top: 29px;
  object-fit: cover;

}

.copyright {
  color: black;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  left: 415px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 246px;
  width: 611px;
}

.descricao {
  color: black;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  left: 131px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 73px;
  width: 403px;
}

.reciclagem-solidria {
  color: black;
  font-family: "Lato";
  font-size: 14px;
  left: 136px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
  width: 208px;
}

.flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  left: 795px;
  min-height: 77px;
  position: absolute;
  top: 40px;
  width: 98px;
  font-family: "Lato";
  font-size: 13px;
}

.recurso {
  letter-spacing: 0;
  line-height: 28px;
  min-height: 27px;
  white-space: nowrap;
}

.video {
  letter-spacing: 0;
  line-height: normal;
  min-height: 21px;
  opacity: 0.5;
  width: 52px;
  cursor: pointer;


}

.publi {
  letter-spacing: 0;
  line-height: normal;
  min-height: 21px;
  opacity: 0.5;
  width: 92px;
}

.rectangle-10 {
  box-sizing: border-box;
  position: absolute;
  width: 1920px;
  height: 286px;
  left: -258px;
  top: 4px;
  border: 1px solid;
  border-color: var(--killarney-2);
  object-fit: cover;
}