/* screen - reciclagem */

.reciclagem {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 2056px;
  overflow: hidden;
  width: 1440px;
}

.reciclagem .overlap-group1 {
  height: 529px;
  position: relative;
  width: 1440px;
}

.reciclagem .header {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 101px;
  left: 84px;
  min-width: 1356px;
  padding: 0 138px;
  position: absolute;
  top: 105px;
}

.reciclagem .overlap-group {
  height: 33px;
  position: relative;
  width: 902px;
}

.reciclagem .frame-29 {
  height: 33px;
  left: 0;
  position: absolute;
  top: 0;
  width: 180px;
}

.reciclagem .vector-50 {
  height: 32px;
  left: 178px;
  position: absolute;
  top: 0;
  width: 3px;
}

.reciclagem .frame-30 {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px solid;
  display: flex;
  height: 33px;
  left: 180px;
  padding: 6px 61px;
  position: absolute;
  top: 0;
  width: 180px;
}

.reciclagem .inicio {
  height: 17px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 44px;
  text-align: center;
}

.reciclagem .vector-51 {
  height: 32px;
  left: 358px;
  position: absolute;
  top: 0;
  width: 3px;
}

.reciclagem .frame-31 {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px solid;
  display: flex;
  height: 33px;
  left: 360px;
  min-width: 180px;
  padding: 6px 10px;
  position: absolute;
  top: 0;
}

.reciclagem .publicaes {
  height: 17px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 95px;
  text-align: center;
}

.reciclagem .vector-52 {
  height: 32px;
  left: 538px;
  position: absolute;
  top: 0;
  width: 3px;
}

.reciclagem .frame-32 {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px solid;
  display: flex;
  height: 33px;
  left: 540px;
  min-width: 180px;
  padding: 6px 14px;
  position: absolute;
  top: 0;
}

.reciclagem .vdeos {
  height: 17px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 52px;
  text-align: center;
}

.reciclagem .vector-53 {
  height: 32px;
  left: 718px;
  position: absolute;
  top: 0;
  width: 3px;
}

.reciclagem .frame-33 {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px solid;
  display: flex;
  height: 33px;
  left: 720px;
  min-width: 180px;
  padding: 6px 12px;
  position: absolute;
  top: 0;
}

.reciclagem .contato {
  height: 17px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 67px;
  text-align: center;
}

.reciclagem .vector-54 {
  height: 32px;
  left: 898px;
  position: absolute;
  top: 0;
  width: 3px;
}

.reciclagem .logo_grande {
  height: 265px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 277px;
}

.reciclagem .rectangle-gradient {
  height: 322px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 207px;
  width: 1440px;
}

.reciclagem .rectangle-4 {
  background-color: var(--white);
  border: 2px solid;
  border-color: var(--killarney-2);
  filter: blur(4px);;
  height: 51px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.reciclagem .phone-call {
  height: 22px;
  left: 108px;
  position: absolute;
  top: 14px;
  width: 22px;
}

.reciclagem .envelope {
  height: 22px;
  left: 352px;
  position: absolute;
  top: 14px;
  width: 22px;
}

.reciclagem .phone {
  left: 161px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 13px;
}

.reciclagem .demogmailcom {
  left: 402px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
}

.reciclagem .impacto-social-da-reciclagem {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 58px;
  margin-top: 18px;
  min-height: 49px;
  min-width: 575px;
  text-align: center;
}

.reciclagem .as-part-of-the-respo-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 71px;
  margin-top: 36px;
  min-height: 250px;
  width: 394px;
}

.reciclagem .as-part-of-the-respo-container {
  align-items: flex-start;
  display: flex;
  gap: 240px;
  height: 250px;
  margin-left: 72px;
  margin-top: 75px;
  min-width: 1028px;
}

.reciclagem .as-part-of-the-respo {
  letter-spacing: 0;
  line-height: normal;
  min-height: 250px;
  width: 394px;
}

.reciclagem .as-part-of-the-respo-container-1 {
  align-items: flex-start;
  display: flex;
  gap: 241px;
  height: 250px;
  margin-left: 71px;
  margin-top: 75px;
  min-width: 1029px;
}

.reciclagem .group-5 {
  align-items: flex-start;
  display: flex;
  height: 309px;
  margin-left: 2px;
  margin-top: 215px;
  min-width: 1440px;
}

.reciclagem .footer-4-light-mode {
  height: 310px;
  margin-left: -1px;
  margin-top: -1px;
  width: 1439px;
}
