/* screen - videos */

.videos {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  overflow: hidden;
  width: 1440px;
}

.videos .overlap-group9 {
  height: 2056px;
  margin-left: -1px;
  position: relative;
  width: 1443px;
}

.videos .overlap-group7 {
  height: 2056px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1443px;
}

.videos .header {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 101px;
  left: 85px;
  min-width: 1356px;
  padding: 0 138px;
  position: absolute;
  top: 105px;
}

.videos .overlap-group-2 {
  height: 33px;
  position: relative;
  width: 902px;
}

.videos .frame-29 {
  height: 33px;
  left: 0;
  position: absolute;
  top: 0;
  width: 180px;
}

.videos .vector-50 {
  height: 32px;
  left: 178px;
  position: absolute;
  top: 0;
  width: 3px;
}

.videos .frame-30 {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px solid;
  display: flex;
  height: 33px;
  left: 180px;
  padding: 6px 61px;
  position: absolute;
  top: 0;
  width: 180px;
}

.videos .inicio {
  height: 17px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 44px;
  text-align: center;
}

.videos .vector-51 {
  height: 32px;
  left: 358px;
  position: absolute;
  top: 0;
  width: 3px;
}

.videos .frame-31 {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px solid;
  display: flex;
  height: 33px;
  left: 360px;
  min-width: 180px;
  padding: 6px 10px;
  position: absolute;
  top: 0;
}

.videos .publicaes {
  height: 17px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 95px;
  text-align: center;
}

.videos .vector-52 {
  height: 32px;
  left: 538px;
  position: absolute;
  top: 0;
  width: 3px;
}

.videos .frame-32 {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px solid;
  display: flex;
  height: 33px;
  left: 540px;
  min-width: 180px;
  padding: 6px 14px;
  position: absolute;
  top: 0;
}

.videos .vdeos {
  height: 17px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 52px;
  text-align: center;
}

.videos .vector-53 {
  height: 32px;
  left: 718px;
  position: absolute;
  top: 0;
  width: 3px;
}

.videos .frame-33 {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px solid;
  display: flex;
  height: 33px;
  left: 720px;
  min-width: 180px;
  padding: 6px 12px;
  position: absolute;
  top: 0;
}

.videos .contato {
  height: 17px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 67px;
  text-align: center;
}

.videos .vector-54 {
  height: 32px;
  left: 898px;
  position: absolute;
  top: 0;
  width: 3px;
}

.videos .logo_grande {
  height: 265px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 277px;
}

.videos .rectangle-4 {
  background-color: var(--white);
  border: 2px solid;
  border-color: var(--killarney-2);
  filter: blur(4px);;
  height: 51px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.videos .video-v1-m1-1 {
  align-items: center;
  background-color: var(--wild-sand);
  border: 1px none;
  display: flex;
  flex-direction: column;
  left: 552px;
  padding: 32px 16px;
  position: absolute;
  top: 962px;
  width: 375px;
}

.videos .surface {
  align-items: center;
  align-self: stretch;
  border: 3px none;
  display: flex;
  gap: 64px;
}

.videos .youtube-player {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.videos .video {
  align-items: flex-start;
  align-self: stretch;
  background-image: url(../img/aspect-ratio-16-9--portrait-no----top-elem--yes--play-button-yes@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.videos .x-aligned-0px-wrapper {
  align-self: stretch;
  border: 1px none;
  height: 1px;
  min-width: 343px;
}

.videos .youtube-ui {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  height: 32px;
  min-width: 343px;
}

.videos .overlap-group {
  height: 96px;
  margin-bottom: -64.0px;
  position: relative;
  width: 408px;
}

.videos .top {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
  border: 1px none;
  height: 96px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 343px;
}

.videos .made-at-theorem-with-love {
  height: 27px;
  left: 16px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 13px;
  white-space: nowrap;
  width: 392px;
}

.videos .ico-info {
  height: 22px;
  left: 306px;
  position: absolute;
  top: 13px;
  width: 22px;
}

.videos .wrapper {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  width: 343px;
}

.videos .vertical-shift-50-height {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.videos .aspect-ratio-keeper-rotated-auto-layout {
  align-self: stretch;
  border: 1px solid;
  border-color: transparent;
  height: 2px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  min-width: 345px;
  transform: rotate(-16.33deg);
}

.videos .center-aligned-0px-wrapper {
  align-self: stretch;
  border: 1px none;
  height: 1px;
  margin-bottom: -1.00px;
  min-width: 343px;
  position: relative;
}

.videos .youtube-ui-1 {
  height: 48px;
  left: 138px;
  object-fit: cover;
  position: absolute;
  top: -24px;
  width: 68px;
}

.videos .aspect-ratio {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.videos .aspect-ratio-keeper-rotated-auto-layout-1 {
  align-self: stretch;
  border: 1px solid;
  border-color: transparent;
  height: 2px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  min-width: 345px;
  transform: rotate(-34.23deg);
}

.videos .youtube-ui-2 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  top: -96px;
  width: 343px;
}

.videos .surface-1 {
  align-self: stretch;
  border: 1px none;
  height: 96px;
  min-width: 343px;
}

.videos .bottom-container {
  height: 96px;
  position: relative;
  width: 343px;
}

.videos .bottom {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border: 1px none;
  height: 96px;
  left: 0;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 343px;
}

.videos .bottom-controls {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 31px;
  left: 4px;
  position: absolute;
  top: 57px;
  width: 327px;
}

.videos .overlap-group1 {
  height: 3px;
  margin-right: 0;
  position: relative;
  width: 327px;
}

.videos .full {
  background-color: var(--gray-nurse);
  border: 1px none;
  height: 3px;
  left: 8px;
  position: absolute;
  top: 0;
  width: 319px;
}

.videos .loaded {
  background-color: var(--gray-nurse-2);
  border: 1px none;
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 109px;
}

.videos .played {
  background-color: var(--torch-red);
  border: 1px none;
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 34px;
}

.videos .flex-row {
  align-items: flex-end;
  display: flex;
  height: 22px;
  margin-left: 7.69px;
  min-width: 301px;
}

.videos .ico-play {
  height: 20px;
  margin-bottom: 0.21px;
  width: 16px;
}

.videos .ico-next {
  align-self: center;
  height: 16px;
  margin-left: 19px;
  margin-top: 2.0px;
  width: 14px;
}

.videos .ico-sound {
  height: 20px;
  margin-left: 18px;
  width: 15px;
}

.videos .time {
  -webkit-text-stroke: 1px var(--black-2);
  align-self: flex-start;
  height: 20px;
  letter-spacing: 0.13px;
  line-height: 19.5px;
  margin-left: 18px;
  min-width: 74px;
  white-space: nowrap;
}

.videos .overlap-group-1 {
  height: 18px;
  margin-bottom: 1.0px;
  margin-left: 73px;
  position: relative;
  width: 21px;
}

.videos .ico-gear {
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 17px;
}

.videos .background {
  background-color: var(--alizarin-crimson);
  border: 1px none;
  border-radius: 1px;
  height: 9px;
  left: 8px;
  position: absolute;
  top: 1px;
  width: 13px;
}

.videos .hd {
  height: 6px;
  left: 10px;
  position: absolute;
  top: 3px;
  width: 9px;
}

.videos .ico-fullscreen {
  height: 18px;
  margin-bottom: 1.0px;
  margin-left: 15px;
  width: 18px;
}

.videos .video-v1-m1-2 {
  align-items: center;
  background-color: var(--wild-sand);
  border: 1px none;
  display: flex;
  flex-direction: column;
  left: 545px;
  padding: 32px 16px;
  position: absolute;
  top: 651px;
  width: 375px;
}

.videos .top-1 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
  border: 1px none;
  height: 96px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 343px;
}

.videos .vertical-shift-50-height-1 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.videos .aspect-ratio-1 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.videos .hd-1 {
  height: 6px;
  left: 10px;
  position: absolute;
  top: 3px;
  width: 9px;
}

.videos .video-v1-m1-3 {
  align-items: center;
  background-color: var(--wild-sand);
  border: 1px none;
  display: flex;
  flex-direction: column;
  left: 559px;
  padding: 32px 16px;
  position: absolute;
  top: 1282px;
  width: 375px;
}

.videos .top-2 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
  border: 1px none;
  height: 96px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 343px;
}

.videos .vertical-shift-50-height-2 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.videos .aspect-ratio-2 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.videos .hd-2 {
  height: 6px;
  left: 10px;
  position: absolute;
  top: 3px;
  width: 9px;
}

.videos .your-website-title {
  left: 640px;
  letter-spacing: 0;
  line-height: 52px;
  position: absolute;
  top: 1233px;
  white-space: nowrap;
  width: 171px;
}

.videos .your-website-title-1 {
  left: 640px;
  letter-spacing: 0;
  line-height: 52px;
  position: absolute;
  top: 913px;
  white-space: nowrap;
  width: 171px;
}

.videos .your-website-title-2 {
  left: 640px;
  letter-spacing: 0;
  line-height: 52px;
  position: absolute;
  top: 609px;
  white-space: nowrap;
  width: 171px;
}

.videos .gradient-pack {
  align-items: flex-end;
  background-color: var(--black-4);
  border: 1.42px none;
  display: flex;
  height: 1440px;
  left: 695px;
  overflow: hidden;
  position: absolute;
  top: -96px;
  transform: rotate(90.02deg);
  width: 53px;
}

.videos .ellipse-container {
  height: 2384px;
  margin-bottom: -724.44px;
  margin-left: -393px;
  position: relative;
  width: 2050px;
}

.videos .ellipse-1 {
  background-color: var(--blue-marguerite);
  border: 1.42px none;
  border-radius: 559.35px;
  filter: blur(972.1px);;
  height: 1119px;
  left: 288px;
  position: absolute;
  top: 1265px;
  width: 1119px;
}

.videos .ellipse-2 {
  background-color: var(--outrageous-orange);
  border: 1.42px none;
  border-radius: 559.35px;
  filter: blur(972.1px);;
  height: 1119px;
  left: 679px;
  position: absolute;
  top: 0;
  width: 1119px;
}

.videos .ellipse-3 {
  background-color: var(--caribbean-green);
  border: 1.42px none;
  border-radius: 559.35px;
  filter: blur(972.1px);;
  height: 1119px;
  left: 931px;
  position: absolute;
  top: 706px;
  width: 1119px;
}

.videos .ellipse-4 {
  background-color: var(--onahau);
  border: 1.42px none;
  border-radius: 423.43px;
  filter: blur(972.1px);;
  height: 847px;
  left: 0;
  position: absolute;
  top: 756px;
  width: 847px;
}

.videos .phone-call {
  height: 22px;
  left: 109px;
  position: absolute;
  top: 14px;
  width: 22px;
}

.videos .phone {
  left: 162px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 13px;
}

.videos .demogmailcom {
  left: 403px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
}

.videos .envelope {
  height: 22px;
  left: 353px;
  position: absolute;
  top: 14px;
  width: 22px;
}

.videos .rectangle-gradient {
  height: 322px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 207px;
  width: 1440px;
}

.videos .footer-4-light-mode {
  height: 310px;
  left: 2px;
  position: absolute;
  top: 1746px;
  width: 1439px;
}

.videos .gradient-pack-1 {
  align-items: flex-end;
  background-color: var(--black-4);
  border: 1.42px none;
  display: flex;
  height: 1440px;
  left: 694px;
  overflow: hidden;
  position: absolute;
  top: 223px;
  transform: rotate(90.02deg);
  width: 53px;
}

.videos .gradient-pack-2 {
  align-items: flex-end;
  background-color: var(--black-4);
  border: 1.42px none;
  display: flex;
  height: 1440px;
  left: 694px;
  overflow: hidden;
  position: absolute;
  top: 543px;
  transform: rotate(90.02deg);
  width: 53px;
}

.videos .galeria-de-vdeos {
  left: 48px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 547px;
}

.videos .video-v-m-container {
  height: 257px;
  left: 99px;
  position: absolute;
  top: 651px;
  width: 375px;
}

.videos .video-v1-m1 {
  align-items: center;
  background-color: var(--wild-sand);
  border: 1px none;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 32px 16px;
  position: absolute;
  top: 0;
  width: 375px;
}

.videos .top-3 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
  border: 1px none;
  height: 96px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 343px;
}

.videos .vertical-shift-50-height-3 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.videos .aspect-ratio-3 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.videos .hd-3 {
  height: 6px;
  left: 10px;
  position: absolute;
  top: 3px;
  width: 9px;
}

.videos .top-4 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
  border: 1px none;
  height: 96px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 343px;
}

.videos .vertical-shift-50-height-4 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.videos .aspect-ratio-4 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.videos .hd-4 {
  height: 6px;
  left: 10px;
  position: absolute;
  top: 3px;
  width: 9px;
}

.videos .video-v1-m1-4 {
  align-items: center;
  background-color: var(--wild-sand);
  border: 1px none;
  display: flex;
  flex-direction: column;
  left: 106px;
  padding: 32px 16px;
  position: absolute;
  top: 962px;
  width: 375px;
}

.videos .top-5 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
  border: 1px none;
  height: 96px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 343px;
}

.videos .vertical-shift-50-height-5 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.videos .aspect-ratio-5 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.videos .hd-5 {
  height: 6px;
  left: 10px;
  position: absolute;
  top: 3px;
  width: 9px;
}

.videos .overlap-group8 {
  height: 306px;
  left: 113px;
  position: absolute;
  top: 1233px;
  width: 375px;
}

.videos .video-v1-m1-5 {
  align-items: center;
  background-color: var(--wild-sand);
  border: 1px none;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 32px 16px;
  position: absolute;
  top: 40px;
  width: 375px;
}

.videos .top-6 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
  border: 1px none;
  height: 96px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 343px;
}

.videos .vertical-shift-50-height-6 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.videos .aspect-ratio-6 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.videos .hd-6 {
  height: 6px;
  left: 10px;
  position: absolute;
  top: 3px;
  width: 9px;
}

.videos .video-v1-m1-6 {
  align-items: center;
  background-color: var(--wild-sand);
  border: 1px none;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 32px 16px;
  position: absolute;
  top: 49px;
  width: 375px;
}

.videos .top-7 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
  border: 1px none;
  height: 96px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 343px;
}

.videos .vertical-shift-50-height-7 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.videos .aspect-ratio-7 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.videos .hd-7 {
  height: 6px;
  left: 10px;
  position: absolute;
  top: 3px;
  width: 9px;
}

.videos .your-website-title-3 {
  left: 84px;
  letter-spacing: 0;
  line-height: 52px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 171px;
}

.videos .video-v1-m1-7 {
  align-items: center;
  background-color: var(--wild-sand);
  border: 1px none;
  display: flex;
  flex-direction: column;
  left: 998px;
  padding: 32px 16px;
  position: absolute;
  top: 962px;
  width: 375px;
}

.videos .top-8 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
  border: 1px none;
  height: 96px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 343px;
}

.videos .vertical-shift-50-height-8 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.videos .aspect-ratio-8 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.videos .hd-8 {
  height: 6px;
  left: 10px;
  position: absolute;
  top: 3px;
  width: 9px;
}

.videos .video-v1-m1-8 {
  align-items: center;
  background-color: var(--wild-sand);
  border: 1px none;
  display: flex;
  flex-direction: column;
  left: 991px;
  padding: 32px 16px;
  position: absolute;
  top: 651px;
  width: 375px;
}

.videos .top-9 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
  border: 1px none;
  height: 96px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 343px;
}

.videos .vertical-shift-50-height-9 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.videos .aspect-ratio-9 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.videos .hd-9 {
  height: 6px;
  left: 10px;
  position: absolute;
  top: 3px;
  width: 9px;
}

.videos .video-v1-m1-9 {
  align-items: center;
  background-color: var(--wild-sand);
  border: 1px none;
  display: flex;
  flex-direction: column;
  left: 1005px;
  padding: 32px 16px;
  position: absolute;
  top: 1282px;
  width: 375px;
}

.videos .top-10 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
  border: 1px none;
  height: 96px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 343px;
}

.videos .vertical-shift-50-height-10 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.videos .aspect-ratio-10 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.videos .hd-10 {
  height: 6px;
  left: 10px;
  position: absolute;
  top: 3px;
  width: 9px;
}

.videos .your-website-title-4 {
  left: 197px;
  letter-spacing: 0;
  line-height: 52px;
  position: absolute;
  top: 609px;
  white-space: nowrap;
  width: 171px;
}

.videos .your-website-title-5 {
  left: 197px;
  letter-spacing: 0;
  line-height: 52px;
  position: absolute;
  top: 913px;
  white-space: nowrap;
  width: 171px;
}

.videos .your-website-title-6 {
  left: 1093px;
  letter-spacing: 0;
  line-height: 52px;
  position: absolute;
  top: 916px;
  white-space: nowrap;
  width: 171px;
}

.videos .your-website-title-7 {
  left: 1093px;
  letter-spacing: 0;
  line-height: 52px;
  position: absolute;
  top: 1233px;
  white-space: nowrap;
  width: 171px;
}

.videos .your-website-title-8 {
  left: 1093px;
  letter-spacing: 0;
  line-height: 52px;
  position: absolute;
  top: 609px;
  white-space: nowrap;
  width: 171px;
}
