.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  grid-auto-rows: minmax(100px, auto);
  width: 100%;
  
}

.video-title {
  font-weight: bold;
  text-align: center;
  display: flex;
  background-color: rgb(193, 221, 238);
  height: 50px;
  align-items: center;
  justify-content: space-around;
}

.video-wrapper {
  text-align: center;
  padding-top: 1px;
  padding-bottom: 50px;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);

}